<div class="page">
    <h1>Help Page</h1>
    <p>
      משחק התאמת מילים: משחק שיש בו רשימת מילים באנגלית בצד אחד ורשימת תרגומים
      למילים מצד שני, יש להתאים לכל מילה את התרגום שלה
    </p>
    <p>
      משחק מילים מבולגנות: משחק שבו עבור כל מילה בקטגוריה נציג את המילה בעברית,
      ואת אותיות המילה באנגלית בסדר מבולגן. המשימה במשחק היא לסדר את אותיות המילה
      באנגלית בסדר הנכון
    </p>
    <p>
      ישנו עמוד ניהול שבו תוכלו להוסיף קטגוריות ומילים לקטגרויות
    </p>
    <p>
      מצב המשחק מחולק לקטגוריות הקיימות במשחק שלכם, תוכלו לבחור לכל קטגויות משחק שבו תרצו לשחק
    </p>
    <p>!בהצלחה</p>
  </div>
